<a href="https://colab.research.google.com/github/19PA1A0508/python-basics/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [24]:
b=pd.read_csv("02.csv")
b

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [26]:
b.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [29]:
b.dtypes

Roll No                                 int64
Gender                                 object
Section                                object
SSC Percentage                        float64
inter_Diploma_percentage              float64
B.Tech_percentage                     float64
Backlogs                                int64
registered_for_ Placement_Training     object
placement status                       object
dtype: object

In [0]:
x=b[["SSC Percentage","inter_Diploma_percentage"]].values
y=b["B.Tech_percentage"].values

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)
x_train,x_test,y_train,y_test

(array([[64.  , 56.7 ],
        [89.33, 88.6 ],
        [87.33, 90.  ],
        [74.  , 76.8 ],
        [72.  , 81.  ],
        [66.16, 77.2 ],
        [76.  , 80.1 ],
        [90.66, 94.7 ],
        [88.1 , 89.1 ],
        [81.1 , 67.5 ],
        [82.33, 76.3 ],
        [87.33, 83.8 ],
        [79.  , 88.9 ],
        [89.  , 86.  ],
        [87.83, 93.6 ],
        [80.  , 83.33],
        [55.66, 65.3 ],
        [82.  , 91.4 ],
        [81.  , 73.  ],
        [83.5 , 88.8 ],
        [86.66, 89.9 ],
        [60.83, 80.2 ],
        [89.  , 88.9 ],
        [88.16, 91.4 ],
        [85.5 , 83.6 ],
        [62.  , 70.91],
        [83.  , 83.  ],
        [90.5 , 90.4 ],
        [86.6 , 78.4 ],
        [84.1 , 73.  ],
        [92.66, 93.7 ],
        [67.  , 65.5 ],
        [86.  , 91.9 ],
        [85.83, 86.  ],
        [82.83, 84.1 ],
        [75.33, 61.2 ],
        [79.  , 79.  ],
        [87.5 , 84.4 ],
        [85.5 , 90.63],
        [82.9 , 73.4 ],
        [87.1 , 81.  ],
        [86.  , 92.5 ],
        [86.16, 87.2 ],
        [63.66, 69.  ],
        [83.66, 90.5 ],
        [85.33, 93.8 ],
        [77.5 , 83.9 ],
        [90.33, 95.6 ],
        [71.  , 70.4 ],
        [68.16, 62.6 ],
        [87.33, 96.5 ],
        [81.3 , 85.12],
        [77.16, 89.1 ],
        [65.3 , 77.7 ],
        [85.  , 89.6 ],
        [81.83, 85.6 ],
        [87.3 , 65.3 ],
        [74.5 , 69.6 ],
        [72.5 , 67.8 ],
        [80.3 , 83.  ],
        [85.33, 91.2 ],
        [79.6 , 69.2 ],
        [84.83, 79.3 ],
        [81.1 , 78.6 ],
        [87.1 , 88.7 ],
        [50.66, 54.2 ],
        [83.16, 79.9 ],
        [82.  , 73.6 ],
        [85.  , 61.  ],
        [82.66, 89.6 ],
        [63.1 , 52.2 ],
        [72.  , 88.1 ],
        [64.3 , 67.1 ],
        [91.  , 66.  ],
        [74.  , 88.4 ],
        [80.66, 86.3 ],
        [83.83, 90.3 ],
        [87.42, 92.2 ],
        [74.5 , 78.3 ],
        [71.  , 56.5 ],
        [79.  , 93.  ],
        [78.  , 59.  ],
        [89.  , 92.4 ],
        [87.  , 85.  ],
        [86.  , 94.2 ],
        [70.  , 81.  ],
        [81.26, 68.  ],
        [78.6 , 87.8 ],
        [79.9 , 75.5 ],
        [81.83, 83.7 ],
        [81.33, 60.3 ],
        [83.  , 81.01],
        [91.  , 94.3 ]]), array([[47.8 , 52.4 ],
        [83.5 , 76.9 ],
        [90.3 , 93.7 ],
        [83.5 , 89.9 ],
        [88.16, 80.1 ],
        [88.3 , 93.9 ],
        [72.17, 77.7 ],
        [72.  , 84.5 ],
        [90.  , 91.6 ],
        [92.33, 96.9 ],
        [79.33, 61.1 ],
        [76.83, 80.4 ],
        [67.  , 68.  ],
        [77.33, 76.5 ],
        [82.3 , 75.13],
        [87.33, 92.  ],
        [88.  , 67.9 ],
        [79.83, 64.2 ],
        [83.66, 90.4 ],
        [82.3 , 83.7 ],
        [74.16, 91.7 ],
        [93.66, 95.1 ],
        [84.84, 91.6 ],
        [75.5 , 81.7 ]]), array([31.2 , 69.62, 68.7 , 51.  , 51.  , 52.09, 42.  , 81.1 , 61.68,
        45.45, 71.49, 69.48, 71.94, 65.6 , 74.34, 65.53, 38.  , 75.42,
        42.17, 67.5 , 75.13, 54.  , 63.  , 72.74, 60.35, 55.7 , 62.97,
        70.3 , 65.7 , 57.3 , 76.35, 42.52, 62.16, 75.96, 72.57, 58.67,
        55.49, 72.57, 74.5 , 52.  , 61.  , 70.85, 54.18, 61.  , 57.8 ,
        77.5 , 73.01, 80.47, 36.47, 64.63, 74.25, 68.5 , 67.06, 62.99,
        53.  , 60.72, 40.  , 56.89, 52.31, 68.3 , 74.3 , 49.68, 61.02,
        35.84, 74.96, 60.53, 68.7 , 42.  , 52.56, 83.38, 50.55, 69.6 ,
        64.36, 49.67, 76.02, 71.65, 76.9 , 78.  , 55.82, 33.77, 59.  ,
        51.06, 71.45, 70.01, 78.6 , 57.75, 62.2 , 56.88, 51.  , 68.9 ,
        54.74, 58.  , 72.68]), array([44.73, 59.53, 77.95, 76.3 , 63.41, 78.6 , 58.  , 67.21, 72.4 ,
        88.1 , 62.98, 72.73, 45.26, 52.  , 54.16, 70.85, 53.26, 65.46,
        72.47, 69.48, 73.09, 85.39, 70.09, 73.13]))

In [36]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
model.intercept_

-3.0793848261986554

In [39]:
model.coef_

array([0.06767154, 0.73925063])

In [0]:
btech=model.predict(x_test)

In [0]:
actual=pd.DataFrame({"actual2=ytest":y_test.flatten(),"predicted= imposed on xtest":btech.flatten()})

In [47]:
actual.head()

   actual2=ytest  predicted= imposed on xtest
0          44.73                    38.892047
1          59.53                    59.419562
2          77.95                    72.299139
3          76.30                    69.029820
4          63.41                    62.100513